{% extends 'base.html' %}

{% block content %}
<div class="columns">
  <div class="column">
    <ul>
    	<li><a href="/users" title="">Users</a></li>
    	<li><a href="/profiles" title="">Profiles</a></li>
    	<li><a href="/postreactions" title="">PostReactions</a></li>
    </ul>
  </div>
  <div class="column">
    <ul>
    	<li><a href="/posts" title="">Posts</a></li>
    	<li><a href="/comments" title="">Comments</a></li>
    	<li><a href="/reactions" title="">Reactions</a></li>
    </ul>
  </div>
</div>
{% endblock %}