<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Perfil</title>
</head>
<body>
	<h1>Detalhes do Perfil</h1>
	
	<a href="{% url 'convidar' perfil.id %}">convidar</a>

	<ul>
		<li><strong>Nome: {{perfil.nome}}</strong></li>
		<li><em>e-mail: {{perfil.email}}</em></li>
		<li>Empresa: {{perfil.nome_empresa}}</li>
		<li>Fone: {{perfil.telefone}}</li>
		{% if perfil.convites_feitos %}
		<li>
			Convites Feitos: 
			<ul>
				<li>{{ perfil.convites_feitos }}</li>
			</ul>
		</li>
		{% endif %}
		{% if perfil.convites_recebidos %}
		<li>
			Convites Recebidos: 
			<ul>
				<li>{{ perfil.convites_recebidos }}</li>
			</ul>
		</li>
		{% endif %}
	</ul>

	<a href="/" title="">Voltar</a>
</body>
</html>