<div class="container">
  <h3>Teacher</h3>
  <!--<a href="{% url 'course_add' %}" class="btn btn-primary btn-lg">Manage courses</a>-->
  <a href="{% url 'course_list_teacher' %}" class="btn btn-primary btn-lg">Manage courses</a>
  <a href="{% url 'lecture_add' %}" class="btn btn-primary btn-lg">Create a new lecture</a>
  <a href="{% url 'discount_add' %}" class="btn btn-primary btn-lg">Create a discount</a>
  <a href="/admin/core/content/" class="btn btn-primary btn-lg">Create a content</a>
  <a href="{% url 'subscriptions_list' %}" class="btn btn-primary btn-lg">Manage subscriptions</a>
</div>