<!-- Modal -->
<form class="form-horizontal" method="post" action="#">
        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">E-mail para recuperação</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" ng-model="email" name="curso.name" id="curso.name"  placeholder="Nome do Curso" required/>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <button type="button" ng-click="recover()" class="btn btn-primary btn-lg btn-block login-button">Salvar</button>
        </div>
    </form> 
    <!--MODAL-->